body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #ADD8E6;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #A9A9A9;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.operator {
    background-color: #D3D3D3;
    color: #fff;
}

.operator:hover {
    background-color: #45a049;
}

.equal {
    background-color: orange;
    color: #fff;
    grid-column: span 4;
}

.equal:hover {
    background-color: #e53935;
}